.default {
    background: lightyellow;
    border-radius: 5px;
    margin: 5px;
}

.default:disabled {
    background: grey;
    color: aliceblue;
}

.red {
    background: red;
}

.default:active {
    background: #c6ea17;
}